body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: aquamarine;
}

/* ============================================================================ */
/* ------ Header ------ */
#home header {
  background-color: gray;
}

/* ------ Navbar ------ */
.navbar button {
  padding: 10px;
  background-color: blueviolet;
  margin: 10px;
}

/* ------ Page ------ */
.page .analysis-buttons {
  display: block;
  margin-top: 10px;
  padding: 5px;
}