body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.js ============================================================================ */
.app .app-heading {
  background: linear-gradient(to bottom, rgb(0, 187, 255), #97A7B3);
  text-align: center;
  padding: 15px;
}

/* Components ============================================================================ */
/* ------ Header ------ */
#home .header, #home .navbar {
  background-color: rgb(113, 117, 126);
  min-height: 100vh;
}

/* ------ Navbar ------ */
.navbar button {
  padding: 10px;
  background-color: rgb(43, 174, 226);
  margin: 10px;
}

.navbar button:hover {
  background-color: yellow;
}

/* ------ Page ------ */
.page .analysis-buttons-div {
  background: linear-gradient(to bottom, rgb(0, 187, 255), #97A7B3);
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page .analysis-buttons {
  display: block;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(67, 100, 211);
  font-size: 20px;
}

.page .analysis-buttons:hover {
  background-color: yellow;
}

.json-display {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

/* Data Dictionary */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.data-table tr.blue {
  background-color: rgba(0, 255, 221, 0.555);
  color: black;
}

.data-table tr.white {
  background-color: white;
  color: black; 
}

.page .dictionary-buttons button:active {
  background-color: yellow;
}

/* Pages ============================================================================ */

/* Home */
