body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.js ============================================================================ */
.app .app-heading {
  background: linear-gradient(to bottom, rgb(0, 187, 255), #97A7B3);
  text-align: center;
  padding: 15px;
}

/* Pages ============================================================================ */
/* ----- Home ----- */
#home .home-section {
  display: flex;
}

#home #home-preview {
  background-color: rgb(0, 132, 255);
  flex: 1;
}

/* ----- Survey ----- */
#analysis-form {
  display: flex;
}

.flex-container {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.scrollable-container {
  max-height: 40vh;
  overflow-y: auto;
  padding: 30px;
}

#section-1 button, #section-2 button {
  margin-top: 10px;
  display: block;
  padding: 20px;
  text-align: left;
  width: 350px;
}

/* Components ============================================================================ */
/* ------ Header ------ */
#home .header {
  background-color: rgb(113, 117, 126);
  padding: 10px;
}

/* ------ Sidebar ------ */
.sidebar {
  height: 80vh;
  width: 200px;
  background-color: rgb(78, 78, 194);
}

.sidebar-list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar-list .sidebar-row {
  width: 100%;
  height: 60px;
  background-color: rgb(0, 217, 255);
  border: 1px solid black;
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-list .sidebar-row:hover {
  cursor: pointer;
  background-color: rgba(0, 217, 255, 0.671);
}

.sidebar #sidebar-icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar #sidebar-title {
  flex: 70%;
}

/* ------ Page ------ */
.page {
  display: flex
}

.page .page-section {
  display: flex;
  flex-direction: column;
}

.page .analysis-buttons-div {
  background: linear-gradient(to bottom, rgb(0, 187, 255), #97A7B3);
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.page .analysis-buttons {
  display: block;
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(67, 100, 211);
  font-size: 20px;
}

.page .analysis-buttons:hover {
  background-color: yellow;
}

.json-display {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

/* ------ Data Dictionary ------ */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.data-table tr.blue {
  background-color: rgba(0, 255, 221, 0.555);
  color: black;
}

.data-table tr.white {
  background-color: white;
  color: black; 
}

.page .dictionary-buttons button:active {
  background-color: yellow;
}
